
style css>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4
    margin 100;
    padding: 100%;
  }

  header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
  }

  nav {
    margin: 0;
    padding: 10px;
    background-color: #e8491d;
    text-align: center;
  }

  nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #ffffff;
  }

  footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }